<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Overshare{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Top-right buttons -->
    <div class="header">
        <div class="nav-buttons">
            <a href="{{ url_for('login') }}"><button class="nav-btn">login</button></a>
            <a href="{{ url_for('register') }}"><button class="nav-btn">sign up</button></a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
