{% extends "friends-base.html" %}

{% block heading %}Received Follow Requests{% endblock %}
{% block friends_content %}
<div class="flex-grow-1 overflow-auto px-3 pb-3">

  {% for request in friend_requests %}
    <div class="card text-white m-2" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-between align-items-center p-2 flex-wrap">

        <div class="d-flex align-items-center">

          {% if request.has_pic() %}
            <img src="{{ url_for('static', filename='images/profile-pictures/' ~ request.username ~ '.jpg') }}" class="rounded-circle" alt="pfp" height="100" width="100">
          {% else %}
            <img src="{{ url_for('static', filename='images/profile-pictures/default.png') }}" class="rounded-circle" alt="pfp" height="100" width="100">
          {% endif %}
          <span class="fs-5 p-2">{{ request.username }}</span>

        </div>

        <div>
          <form method="POST" action="{{ url_for('accept_follow_requester', username=request.username) }}">
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-m btn-success justify-content-end", value="Accept") }}
          </form>
          <form method="POST" action="{{ url_for('dismiss_follow_requester', username=request.username) }}">
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-m btn-warning justify-content-end", value="Decline") }}
          </form>
        </div>

      </div>
    </div>
  {% else %}
    <p class="text-white">You have not received any follow requests yet.</p>
  {% endfor %}

</div>
{% endblock %}
