{% extends "base.html" %}

{% block content %}

  <div class="container my-3 pt-5 pb-3 d-flex ">
    <div class="d-flex justify-content-center align-items-center">
    <h1>Friends</h1> 
    <button class="btn btn-secondary mb-3" style="text-decoration: none;">
      <!--change url-->
      <a href="{{ url_for('follow_requests') }}">Add Friend</a>
    </button>
    <button class="btn btn-secondary mb-3" style="text-decoration: none;">
      <a href="{{ url_for('follow_requests') }}" class="text-white">Friend Requests</a>
    </button>

    </div>

    <div class="container p-3 my-1 d-flex flex-column text-white hide-scrollbar" style="max-height: 200vh; overflow-y: auto;">
      
      {% for friend in friends%}
        <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.6);">
          {% if friend.profile_picture%}
          <img src="{{ url_for('static', filename='images/profile_pictures/' + friend.profile_picture)}}" class="rounded-circle" alt="pfp" height="100" width="100">
          {% else%}
          <img src="{{ url_for('static', filename="images/profile_pictures/default.png")}}" class="rounded-circle" alt="pfp" height="100" width="100">
          {% endif%}
          <span class="friend-username">{{friend.username}}</span>
          <button class="btn btn-danger" onclick="alert("Unfriend functionality not implemented yet");">Unfriend</button>
        </div>
      
      {% else%}
      <p>You have no friends yet :(</p>
      {% endfor%}
    </div>
    </div>
  </div>

  <script>
    const dialog = document.getElementById("add-friend-dialog");
    const btn = document.getElementById("add-friend-btn");
    const closeBtn = document.querySelector(".close-btn");

    btn.onclick = () => dialog.showModal();

    window.onclick = (event) => {
      if (event.target == dialog) dialog.close();
    };
    </script>
{% endblock content %}