{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="story-title text-white">Day in the Life of {{ current_user.username }} Instagram Persona</h1>
  <div id="story-box" class="story-box" style="position:relative;">
    <span id="story-step" class="story-step p-3 m-1 text-white"></span>
    <button id="skip-btn" class="btn btn-secondary skip-btn">Skip</button>
  </div>

  <div id="data-table" class="data-table" style="opacity:0; transition: opacity 1s;">
    <h2>Your Year in Review</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Total Liked Posts</td>
          <td>{{ user_data.total_liked_posts }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Liked Accounts for Posts</td>
          <td>
            {% if user_data.top_3_most_liked_account_for_posts and user_data.top_3_most_liked_account_for_posts|length > 0 %}
              <ul>
                {% for account in user_data.top_3_most_liked_account_for_posts %}
                  <li><strong>{{ account.name }}</strong> ({{ account.liked_posts_count }} likes)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Total Liked Comments</td>
          <td>{{ user_data.total_liked_comments }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Liked Accounts for Comments</td>
          <td>
            {% if user_data.top_3_most_liked_account_for_comments and user_data.top_3_most_liked_account_for_comments|length > 0 %}
              <ul>
                {% for account in user_data.top_3_most_liked_account_for_comments %}
                  <li><strong>{{ account.name }}</strong> ({{ account.liked_comments_count }} likes)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Total Liked Stories</td>
          <td>{{ user_data.total_liked_stories }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Liked Accounts for Stories</td>
          <td>
            {% if user_data.top_3_most_liked_account_for_stories and user_data.top_3_most_liked_account_for_stories|length > 0 %}
              <ul>
                {% for account in user_data.top_3_most_liked_account_for_stories %}
                  <li><strong>{{ account.name }}</strong> ({{ account.story_activities_story_likes }} likes)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Total Posts Commented</td>
          <td>{{ user_data.total_posts_comments }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Commented Accounts for Posts</td>
          <td>
            {% if user_data.top_3_most_commented_accounts_for_posts and user_data.top_3_most_commented_accounts_for_posts|length > 0 %}
              <ul>
                {% for account in user_data.top_3_most_commented_accounts_for_posts %}
                  <li><strong>{{ account.name }}</strong> ({{ account.comment_count }} comments)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Total Reels Commented</td>
          <td>{{ user_data.total_reels_comments }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Commented Accounts for Reels</td>
          <td>
            {% if user_data.top_3_most_commented_accounts_for_reels and user_data.top_3_most_commented_accounts_for_reels|length > 0 %}
              <ul>
                {% for account in user_data.top_3_most_commented_accounts_for_reels %}
                  <li><strong>{{ account.name }}</strong> ({{ account.comment_count }} comments)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Total Stories Posted</td>
          <td>{{ user_data.total_stories_posted }}</td>
        </tr>
        <tr>
          <td>Total People Messaged</td>
          <td>{{ user_data.total_people_messaged }}</td>
        </tr>
        <tr>
          <td>Top 3 Most Messaged People</td>
          <td>
            {% if user_data.top_3_most_messaged_people and user_data.top_3_most_messaged_people|length > 0 %}
              <ul>
                {% for person in user_data.top_3_most_messaged_people %}
                  <li><strong>{{ person.name }}</strong> ({{ person.message_count }} messages)</li>
                {% endfor %}
              </ul>
            {% else %}
              No data found
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  const storySteps = [
    {
      content: ""
    },
    {
      content: "As you open your eyes, you reach for your phone and instantly open Instagram."
    },
    {
      content: "You scroll through your feed, and you see a post from your favorite account, giving it a like!"
    },
    {
      content: "You liked a total of {{ user_data.total_liked_posts }} posts this year. <br> Your top 3 most liked accounts for posts are: {{ user_data.top_3_most_liked_account_for_posts|map(attribute='name')|join(', ') }}."
    },
    {
      title: "Total Liked Comments",
      content: "You liked a total of {{ user_data.total_liked_comments }} comments this year."
    },
    {
      title: "Total Liked Stories",
      content: "You liked a total of {{ user_data.total_liked_stories }} stories this year."
    },
    {
      title: "Total Posts Commented",
      content: "You commented on a total of {{ user_data.total_posts_comments }} posts this year."
    },
    {
      title: "Total Reels Commented",
      content: "You commented on a total of {{ user_data.total_reels_comments }} reels this year."
    },
    {
      title: "Total Stories Posted",
      content: "You posted a total of {{ user_data.total_stories_posted }} stories this year."
    },
    {
      title: "Total People Messaged",
      content: "You messaged a total of {{ user_data.total_people_messaged }} people this year."
    }
  ];

  const storyStepDiv = document.getElementById("story-step");
  const storyBox = document.getElementById("story-box");
  const dataTable = document.getElementById("data-table");
  const skipBtn = document.getElementById("skip-btn");

  let currentStep = 0;

  function showStep(index) {
    storyStepDiv.style.opacity = 0;
    setTimeout(() => {
      if (index < storySteps.length) {
        const step = storySteps[index];
        storyStepDiv.innerHTML = '<h2>' + step.title + '</h2><p>' + step.content + '</p>';
      } else {
        storyBox.style.display = "none";
        dataTable.style.opacity = 1;
      }
      storyStepDiv.style.opacity = 1;
    }, 500);
    
  }

  function nextStep() {
    currentStep++;
    showStep(currentStep);
  }

  storyBox.addEventListener("touchstart", e => {
    touchStarti = e.changedTouches[0].screenX;
  });

  storyBox.addEventListener("touchend", e => {
    touchEndi = e.changedTouches[0].screenX;
    if (touchEndi < touchStarti - 30) {
      nextStep();
    }
  });

  storyBox.addEventListener("click", function() {
    nextStep();
  });

  skipBtn.addEventListener("click", function() {
    storyBox.style.display = "none";
    dataTable.style.opacity = 1;
  });

  showNextStep();

</script>
{% endblock %}
