{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1>Welcome, {{ username }}</h1>
  <h2>Your Data:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total Liked Posts</td>
        <td>{{ user_data.total_liked_posts }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Liked Accounts for Posts</td>
        <td>
          <ul>
            {% for account in user_data.top_3_most_liked_account_for_posts %}
              <li>{{ account.name }} ({{ account.liked_posts_count }} likes)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total Liked Comments</td>
        <td>{{ user_data.total_liked_comments }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Liked Accounts for Comments</td>
        <td>
          <ul>
            {% for account in user_data.top_3_most_liked_account_for_comments %}
              <li>{{ account.name }} ({{ account.liked_comments_count }} likes)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total Liked Stories</td>
        <td>{{ user_data.total_liked_stories }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Liked Accounts for Stories</td>
        <td>
          <ul>
            {% for account in user_data.top_3_most_liked_account_for_stories %}
              <li>{{ account.name }} ({{ account.story_activities_story_likes }} likes)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total Posts Comments</td>
        <td>{{ user_data.total_posts_comments }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Commented Accounts for Posts</td>
        <td>
          <ul>
            {% for account in user_data.top_3_most_commented_accounts_for_posts %}
              <li>{{ account.name }} ({{ account.comment_count }} comments)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total Reels Comments</td>
        <td>{{ user_data.total_reels_comments }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Commented Accounts for Reels</td>
        <td>
          <ul>
            {% for account in user_data.top_3_most_commented_accounts_for_reels %}
              <li>{{ account.name }} ({{ account.comment_count }} comments)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total People Messaged</td>
        <td>{{ user_data.total_people_messaged }}</td>
      </tr>
      <tr>
        <td>Top 3 Most Messaged People</td>
        <td>
          <ul>
            {% for person in user_data.top_3_most_messaged_people %}
              <li>{{ person.name }} ({{ person.message_count }} messages)</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Total Stories Posted</td>
        <td>{{ user_data.total_stories_posted }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
