{% extends "base.html" %}


{% block content %}
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="form-container">
        <h1 class="text-center mb-4">Sign up</h1>
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}

          <div class="form-group mb-3">
            {{ form.username.label }}
            {{ form.username(class="form-input form-control") }}
            {% for error in form.username.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-group mb-3">
            {{ form.email.label }}
            {{ form.email(class="form-input form-control") }}
            {% for error in form.email.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-group mb-3">
            {{ form.password.label }}
            {{ form.password(class="form-input form-control") }}
            {% for error in form.password.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-group mb-3">
            {{ form.password2.label }}
            {{ form.password2(class="form-input form-control") }}
            {% for error in form.password2.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-submit text-end">
            {{ form.submit(class="nav-btn") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
``
