{% extends "friends-base.html" %}

{% block heading %}Search Users{% endblock %}
{% block friends_content %}
<div class="container p-0 text-white h-100 d-flex flex-column">

  <form id="search" method="GET" action="{{ url_for('search_unfollowed') }}">
    <div class="input-group">
      {{ search_form.q(class="form-control", placeholder=search_form.q.label.text) }}
    </div>
  </form>

  <div id="result" class="flex-grow-1 overflow-auto px-3 pb-3 hide-scrollbar"></div>
</div>

<script>
$(document).ready(function() {
  $("#search").on("submit", function(e) {
    e.preventDefault();
    const query = $(this).val();
    $.get(
      "{{ url_for('search_unfollowed') }}",
      {"q": query},
      function(data){
        $("#result").empty();
        data["result"].forEach(function(d){
          const username = d["username"]
          const is_follower = d["is_follower"]
          const has_pic = d["has_pic"]
          $("#result").append(`<div>${username}${is_follower}${has_pic}</div>`);
        });
      }
    );
  });
});
</script>
{% endblock friends_content %}
