{% extends "base.html" %}

{% block content %}
<div class="form-container">
  <h1>Upload</h1>
  <div>
    How to get your data:
    <ol>
      <li>Go to your settings in the Instagram app</li>
      <li>Go to Accounts Center > Your information and permissions > Download your information.</li>
      <li>Follow the steps to download your information. (You must at least select all of your Instagram activity!)</li>
      <li>Select "Download to device", then make sure the format is in JSON!</li>
      <li>Once you have your information, come back and upload it below!</li>
    </ol>
  </div>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.file.label }}
      {{ form.file() }}
      {% for error in form.file.errors %}
        <span class="error">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-submit mt-3 mb-3">
      {{ form.submit(class="nav-btn") }}
    </div>
  </form>
</div>
{% endblock content %}
